# Зависимости
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Директории сборки
/dist/
/build/
/out/
/.nest/

# Директории TypeScript
/.tsbuildinfo
/*.tsbuildinfo

# Логи и временные файлы
logs/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Кэши
.eslintcache
.stylelintcache
.node_repl_history

# Файлы среды выполнения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# Директории IDE
/.idea/
/.vscode/
*.code-workspace
.project
.classpath
.c9/
*.launch
.settings/

# Файлы ОС
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo

# Тесты
/coverage/
/.nyc_output/
junit.xml

# Другие директории NestJS
/client/
/tmp/
/temp/

# Конфигурации базы данных
/ormconfig.json
/ormconfig.js
/typeorm-model-generator.json
